/* DogDetails.module.css */

.containerDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background: linear-gradient(
      180deg,
      #596273 0%,
      #364156 57.56%,
      #11151c 88.98%
    );
  }
  
  .detailsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 800px;
    background: linear-gradient(
      180deg,
      #212d40 0%,
      #364156 57.56%,
      #11151c 88.98%
    );
    padding: 20px;
    color: white;
    font-family: "Georgia";
  }
  
  .detailsCard img {
    width: 300px;
    height: 250px;
    border-radius: 25%; 
    margin-bottom: 30px;
  }
  
  .detailsCard h1 {
    font-family: "Brush Script MT";
    font-size: 70px;
    text-align: center;
  }
  
  .detailsCard h2 {
    margin-top: 20px;
    font-size: 20px;
  }
  
  .detailsCard h2:last-child {
    margin-bottom: 0; /* Evitar espacio extra en la parte inferior */
  }
  
  .goBackButton {
    margin-top: 20px;
    font-family: 'Georgia';
    padding: 10px 20px;
    background-color: #596273;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  
  .goBackButton:hover {
    background-color: #364156;
  }